body {
    font-family: Arial, sans-serif;
    background-image: url(image/background.jpg);
    background-size: cover;  
    background-repeat: no-repeat; 
}
table {
    width: 70%;
    margin: 20px auto;
    border-collapse: collapse;
    background-color: rgb(214, 236, 229);
}
td, th {
    padding: 8px;
    border: 1px solid #ffffff;
}
input[type="text"], input[type="email"], input[type="password"] {
    padding: 8px;
    margin: 5px;
    width: 90%;
}
input[type="submit"] {
    padding: 8px 16px;
    margin-top: 10px;
    cursor: pointer;
}
h2 {
    margin-bottom: 10px;
}
.container {
    width: 80%;
    margin: auto;
    text-align: center;
}
.form-container {
    margin-bottom: 40px;
}